- content_for :javascripts do
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
  = javascript_include_tag 'google_maps/google-maps-autocomplete'
  :javascript
    $(document).ready(initialize({map: true}));
    $(document).on('page:load', initialize({map: true}));

    // Prevents return from submitting the form because it's frustrating when using the map autocomplete
    var preventEnter = function(){
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    };
    $(document).ready(preventEnter);
    $(document).on('page:load', preventEnter);

%div
  #panel
    = f.fields_for(:locations) do |builder|
      = builder.label :address
      = builder.text_field :address, id: 'address'
      = builder.label :address_2
      = builder.text_field :address_2
      %br/
  #map-canvas




