- content_for :javascripts do
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBb2gpZp1IWftceIrCBoY5dWUjdRMl_94Q"}
  = javascript_include_tag 'registrations'
  :javascript
    $(document).ready(mkit.registrationsNew.init());

%div
  #panel
    = f.fields_for(:locations) do |builder|
      = builder.label :address
      = builder.text_field :address, id: 'address'
      = builder.label :address_2
      = builder.text_field :address_2
      = builder.hidden_field :latitude
      = builder.hidden_field :longitude
      %br/
  #map-canvas




