- content_for :javascripts do
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
  = javascript_include_tag 'google_maps/google-maps-autocomplete'

%div
  #panel
    %input#searchTextField{:type => "text"}/
  #map-canvas

  %fieldset
    = f.fields_for(:locations) do |builder|
      = builder.label :address_1
      = builder.text_field :address_1
      %br/
      = builder.label :address_2
      = builder.text_field :address_2
      %br/
      = builder.label :city
      = builder.text_field :city
      %br/
      = builder.label :state
      = builder.text_field :state
      %br/
      = builder.label :zipcode
      = builder.text_field :zipcode
      %br/
      = builder.label :country
      = builder.text_field :country
      %br/