- content_for :javascripts do
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"}
  = javascript_include_tag 'google_maps/google-maps-autocomplete'
  :javascript
    $(document).ready(initialize);
    $(document).on('page:load', initialize);

%div
  #panel
    = f.fields_for(:locations) do |builder|
      = builder.label :address
      = builder.text_field :address, id: 'address'
      = builder.label :address_2
      = builder.text_field :address_2
      %br/
  #map-canvas




