- content_for :javascripts do
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBb2gpZp1IWftceIrCBoY5dWUjdRMl_94Q"}
  = javascript_include_tag 'home'

  :javascript
    $(document).ready(mkit.homeIndex.init());

.search
  = form_tag machines_path, method: "get" do
    = text_field_tag :search, params[:search], placeholder: "Search", id: "address"
    = hidden_field_tag :distance, params[:distance], value: 20
    = submit_tag "search", name: nil, class: "button"